/* LayoutPublic.css */

.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Esto garantiza que el contenedor ocupe al menos el 100% de la altura visible de la ventana */
  }
  
  main {
    flex: 1; /* Esto hace que el contenido principal ocupe el espacio restante */
  }
  